*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: darkblue;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: cyan;
    text-align: center;
}

#c2a {
    text-align: center;
    background-color: cyan;
}

#c2a a.btn {
    background-color: red;
    border: none;
    color: white;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 8px;
    box-shadow: 0 0 15px red;
    transition: all 0.3s ease-in-out;
}

#c2a a.btn:hover {
    background-color: yellow;
    transform: scale(1.05);
}

footer {
    background-color: cyan;
    text-align: center;
    position: relative;
    width: 100%;
}

footer a:hover {
    color: red;
    text-decoration: underline;
}
